@import "normalize.css";
@import "sanitize.css";

@import "./assets/custom-font/css/fontello.css";
@import "./assets/custom-font/css/animation.css";

@import "./scss/theme.scss";

@import "./scss/layout.scss";
@import "./scss/button.scss";
@import "./scss/table.scss";

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
}
