form {
  width: 100%;
  max-width: 25em;
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  input {
    width: 100%;
    padding: 0.5em 1em;
    border: 0.1em solid var(--border-color);
    background-color: var(--bg-color);
    caret-color: var(--fg-color);
    color: var(--fg-color);
  }

  button {
    margin-top: 3em;
  }
}
